<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h1>Las redes sociales, el alimento de un narcisista. </h1>
               
            </div>
            
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-5">
                <img src="./assets/art2f2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                <p>“Las redes sociales constituyen una parte importante de su existencia. Dedican mucho tiempo a pensar y decidir lo que subirán,
                    escoger la foto, frases, mensajes, si aceptan a un nuevo seguidor o no. Bloquean y desbloquean a sus contactos con frecuencia para provocar emociones de incertidumbre, y ellos sentirse
                    con cierto poder sobre otros”, así lo explica Carolina García
                    Pérez (psicóloga) / Ifeelonline.com.</p>
                  
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                <p>Y hay mucho más de lo que pueden subir a redes sociales las
                    personas que padecen de Narcis ismo, pero la hoja
                    ya se me acabó y lo único que puedo escribir es que yo viví y
                    trabajé a lado de personas con estas características. Así que les
                    escribo desde la experiencia. </p>
                    <p>Salir adelante me llevó tiempo, pero sí acudí en busca de ayuda.
                        Y sigo trabajando en mí, para sanar las heridas y tener presente
                        lo que viví y no permitir más el abuso.</p>
            </div>
        </div>
    </div>
</body>
</html>
