<div class="container-fluid">
    <h1 class="text-center">Actividades por hacer</h1>
</div>

<div class="elements">
    <div class="box">
        <img src="./assets/artistf1.png" alt="" class="img-fluid">
        <hr>
        <h2>Italia nunca estuvo más cerca</h2>
        <p>Me fui a visitar la obra más fotografiada de todos los
            museos, y de todos los tiempos; quedé impresionada de
            su majestuosidad, no he tenido la oportunidad de ir a
            Italia a conocer la original, pero mi acompañante que sí
            la ha visto, me dijo que no nos perdemos de nada,
            porque es idéntica. Se trata de una de las réplicas
            certificadas de El David del escultor y pintor Miguel
            Ángel, la cual llegó a la CDMX, desde la bella Italia; el
            Museo Soumaya le abrió sus puertas a una de las
            obras más representativas de la época Renacentista.</p>
    </div>
    <div class="box">
        <img src="./assets/rehabi.jpg" alt="">
        <hr>
        <h2>Cámara Hiperbárica</h2>
        <p>
            Ofrecemos el mejor servicio de calidad
para nuestros clientes, actuando siempre
de forma honesta y comprometida con su salud.
        </p>
    </div>
    <div class="box">
        <img src="./assets/sports.jpg" alt="">
        <hr>
        <h2>Sports Medicine México</h2>
        <p>En Sports Medicine México trabajamos por tu salud y calidad
            de vida. Contamos con personal altamente especializado y
            un equipo con tecnología de punta, que permiten rehabilitación total en el 95% de nuestros pacientes.</p>
    </div>
</div>
