<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 class="text-white ">UN NARCISO PARA TI…</h1>
        <p class="text-white">Por: Carmelina Rodríguez Butrón.</p>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
       <img src="./assets/art1f1.png" alt="">

    </div>
   </div>
   <div class="row" style="background-color: #fafafa;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h1 class="text-black text-center">¿Qué suelen decir?</h1>
   

    </div>
    
   </div>
</div>
<div class="container-fluid">
    <div class="row" style="background-color: #fafafa;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <p>- ¡Ah, sí me sé la respuesta!:
                - “Yo como Director@ de…”, “Sí, te veo mal eh, necesitas
                ayuda”, “Hoy estás especialmente sensible”.
                “¿Qué vas a hacer si te vas?”.
                -¡Y conozco más, pero la hoja es corta y el tema largo!</p>
            
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                 <h2>¿Qué daño nos causa estar al lado de alguien con personalidad narcisista?</h2>
                    <p>¡Uy, te puede volver absolutamente inseguro y hacerte creer que estás loc@!, y
                        cuando la situación se torna grave, llega la
                        violencia que puede ser física y/o psicológica, así como otras formas de maltrato o
                        abuso.</p>
                        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <p>Mi recomendación… ¡Sal corriendo, pide
                ayuda! Como en toda relación en la que hay
                “abuso”, el narcisista (agresor) desgasta a
                su víctima y el daño emocional “constante
                durante un largo período de tiempo puede
                hacer que las víctimas desarrollen un
                trastorno de estrés postraumático”.
                No lo digo yo, lo dice Claudia M. Elsig, MD.,
                en el blog: caldaclinic.com</p>
        </div>
    </div>
</div>
<div class="container-fluid">
<button class="btn btn-primary" (click)="volverHome()">Regresar</button>
</div>
</body>
</html>
