<div class="container">   
    <h1 class="text-center">Noticias</h1>
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            <img class="card-img-top" src="./assets/art1f1.png">            
            <div class="card-body">
              <h4 class="card-title">{{article1.name}}</h4>
              <span class="card-text">
                {{article1.date}}
              </span>
              <p class="card-text">
                {{article1.text}}
              </p>
              <a routerLink="/article1" class="btn btn-primary">Entrar</a>
            </div>
          </div>          
      </div>
     
      <div class="col-md">        
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{article2.name}}</h4>
              <span class="card-text">{{article2.date}} </span>
              <p>{{article2.text}}</p>
              <a routerLink="/article2" class="btn btn-primary">Entrar</a>
            </div>
            <img class="card-img-bottom" src="./assets/art2f1.jpg">                        
          </div>          
      </div>
      
    </div>
  </div>
  <div class="container">   
   
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            <img class="card-img-top" src="./assets/computo.jpg">            
            <div class="card-body">
              <h4 class="card-title">{{article3.name}}</h4>
              <span class="card-text">
                {{article3.date}}
              </span>
              <p class="card-text">
                {{article3.text}}
              </p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>          
      </div>

      <div class="col-md">        
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{article4.name}}</h4>
              <span class="card-text">{{article4.date}} </span>
              <p>{{article4.text}}</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
            <img class="card-img-bottom" src="./assets/robotica.jpg">                        
          </div>          
      </div>
      
    </div>
  </div>