<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <section class="banner1">
        <div class="img">
<img src="./assets/IT.jpg" alt="">
        </div>
        <div class="text">
            <h2>La Tecnología en el mundo del Entretenimiento.</h2>
            <p>El entretenimiento es una industria en constante evolución, y en los próximos años, se espera que la
                tecnología siga jugando un papel crucial, no solo en el desarrollo de la industria del cine y la música,
                sino del entretenimiento en general, a pequeña y gran escala</p>
            <!-- <a href="" class="btn btn-primary">Ver más</a> -->
        </div>
    </section>

    <section class="banner1">
      
        <div class="text">
            <h2>Graffiti</h2>
            <p>Los grafitis han existido como medio de comunicación
                de posturas políticas o como forma de expresión
                urbana y anónima que carecen de mayor trascendencia. En muchos casos se les relaciona como actos de
                vandalismo en la medida en que arruinan paredes de
                uso privado o público; en otros casos pasan inadvertidos por la poca relevancia del lugar en donde fueron
                realizados</p>
            <!-- <a href="" class="btn btn-primary">Ver más</a> -->
        </div>
        <div class="img">
            <img src="./assets/graffiti.jpg" alt="">
                    </div>
    </section>
    <section class="banner1">
        <div class="img">
            <img src="./assets/mala.jpg" alt="">
                    </div>
        <div class="text">
            <h2>La Mala Rodríguez</h2>
            <p>
                La española Mala Rodriguez, pionera del rap y hip hop
                sigue dando de qué hablar. A mediados de Febrero llegó a
                México para presentarse en el Auditorio BlackBerry y
                para gusto de los asistentes la Mala derrochó sensualidad y buen trap, acompañada de su DJ y 4 bailarinas. 
            </p>
            <!-- <a href="" class="btn btn-primary">Ver más</a> -->
        </div>
       
    </section>


</main>

</body>
</html>

