<!-- molotov -->
<div class="trend_container">
    <h1>
        MOLOTOV
    </h1>
  
    <section >
<P>@molotovbanda @ocesa</P>
<a href="https://www.ticketmaster.com.mx/molotov-foro-sol-mexico-tickets/venueartist/163903/795806" target="_blank">
    <img src="./assets/ticket.png" alt="">
    <p>
        <b>Compra tus boletos</b>
    </p>
</a>
<p style="background-color: #e74c3c;">
    Previo a su concierto y venta de boletos con autógrafo, Molotov una de las bandas más icónicas y poderosas del rock mexicano, nos dieron algunos detalles del cierre de su gira #EstallaMolotov, que se llevará a cabo en las instalaciones del Foro Sol, el próximo 12 de mayo. 
</p>
<p style="background-color: #e74c3c;">
    Con el sentido de humor que les caracteriza nos recibieron en uno de los pabellones del Palacio de los Deportes, para recordar sus inicios y dejar claro cómo ha sido su largo camino.
</p>
<p style="background-color: #e74c3c;">
    Molotov sigue dando batalla y apoyando al rock mexicano, dentro de sus planes está lanzar su propio festival musical “Molo Fest” un escenario para nuevas agrupaciones.

</p>
        <P style="background-color: #e74c3c;">
            ¡Nos vemos el 12 de mayo!         </P>
        <p style="background-color: #e74c3c;">
La Yeka Padilla desde los conciertos.
        </p>
    </section>
    <section>
        <img src="./assets/molotov.jpeg" alt="">
    </section>
</div>
<!-- ARTICLE WITH VIDEO -->
<div class="title_video">
    <h1>La Arrolladora Banda El Limón</h1>
</div>
<div class="video_container">
    
    <!-- Ejemplo 1 -->
<!-- Ejemplo 2 -->
<video src="./assets/arrolladora.mp4" autoplay muted loop controls></video>
<article>
    <p>Un palomazo de La Arrolladora Banda El Limón, de Don René Camacho, algo de lo que escucharemos en La Feria de Texcoco el próximo 3 de Abril. </p>
    <p>¡Allá nos vemos! </p>
    <p>Huele a peligro, por aquí 😎💖🍺 ¡Qué gozo @arrolladoraoficial !</p>
</article>
</div>
<!-- article four -->
<div class="trend_container">
    <h1 style="background-color: #c23616;color: #fafafa;">¡CONTRA REVENDEDORES! 
    </h1>
    <section>
        <img src="./assets/molo.jpg" alt="">
    </section>
    <section>
<p style="background-color: #487eb0;">
    Así anunció @molotovbanda la venta de boletos, este próximo jueves en las taquillas del Palacio de los Deportes, sin cargos y además autografiados por la banda, para evitar la reventa.
</p>
<p style="background-color: #487eb0;">
    Si aún no tienes tus entradas, lánzate a la puerta 7 del Palacio de los Deportes.
</p>
<p style="background-color: #487eb0;">
    Con más de 25 años de trayectoria, Molotov sigue siendo una de las bandas más importantes del rock en español. A través de sus letras provocadoras y sociales la banda chilanga sigue rockeando duro. 
</p>
        <P style="background-color: #487eb0;">
            Este próximo 12 de mayo estarán cerrando su gira #estallamolotov en el Foro Sol, CDMX.
        </P>
        <p style="background-color: #487eb0;">
La Yeka Padilla desde los conciertos.
        </p>
    </section>
</div>
<div class="trend_container">
    <h1>La mala Rodríguez</h1>
    <section>
        <img src="./assets/malaRo.jpg" alt="">
    </section>
    <section>
<p>
La Mala Rodríguez La española Mala Rodriguez, pionera del rap y hip hop sigue dando de qué hablar. A mediados de Febrero llegó a México para presentarse en el Auditorio BlackBerry y para gusto de los asistentes la Mala derrochó sensualidad y buen trap, acompañada de su DJ y 4 bailarinas. Con un poco de regueton y tequila arrancó la noche, en un ambiente desaforado muy al estilo de la rapera; la cantante pidió a su staff dos botellas de tequila que repartió con los fans que se encontraban abajo del escenario, caminando entre ellos, al tiempo que les empinaba la botella de “Jimador”. Temas como “La niña” y “Tengo un trato” fueron las más coreadas.
</p>
<p>
La Mala dijo, que ama a México y que sabe del amor que los mexicanos brindamos a todos los artistas, lo cual agradeció, además, recordó su primera visita a México en 2008 para su primer Vive Latino en el Foro Sol.
</p>
<p>
Baile, trap y mucho amor para incendiar el foro, de sus propias palabras nos dejó claro que México es: “La mejor Ciudad del puto mundo”. 
Gracias Mala tan buena.
        </p>
        <p>
La Yeka Padilla desde los conciertos.
        </p>
    </section>
</div>

<!-- ARTICLE NUMBER TWO -->
<div class="trend_container">
    <h1>
        La Garfield
    </h1>
  
    <section >
<p style="background-color: #e74c3c;">
La Garfield está de estreno. Al inicio del 2023 lanzaron tres temas que son parte de su nuevo álbum “La vida no es tan seria”. En conferencia de prensa, previo a su concierto en el Teatro Metropolitan, la banda tapatía nos habló de cómo fue el proceso de grabación y sobre todo la elección de la nueva voz; Vale, veracruzana amante del son jarocho y del blues que sin duda llegó a darle un toque muy guapachoso a la banda, algo característico de su propuesta musical.

</p>
<p style="background-color: #e74c3c;">
La Garfield nos contó que si bien es importante para ellos las reproducciones en streaming, lo más crucial para la banda es seguir haciendo música por pasión; un grupo de amigos que se juntaron para hacer lo que más les gusta, componer y tocar para el público.

</p>
<p style="background-color: #e74c3c;">
    Para su presentación en el Metropolitan, prometieron fiesta y una larga lista de invitados en el escenario, sorpresas que ya se ha vuelto costumbre en los artistas no revelarlas.
</p>
        <P style="background-color: #e74c3c;">
            A mitad del año lanzaran de manera oficial su último disco, con temas que completan los que ya están sonando en las plataformas digitales.
        </P>
        <p style="background-color: #e74c3c;">
La Yeka Padilla desde los conciertos.
        </p>
    </section>
    <section>
        <img src="./assets/garfield.jpg" alt="">
    </section>
</div>
<!-- ARTICLE THREE -->
<div class="trend_container">
    <h1>Los Babasónicos desde la Trinchera
    </h1>
    <section>
        <img src="./assets/babasonicos.jpg" alt="">
    </section>
    <section>
<p>
    Los Babasónicos regresaron a la CDMX para presentarse en el Palacio de los Deportes; más de 30 años atrás esta banda argentina nacía de la necesidad de un Nuevo Rock Pop Argentino y con el álbum Jessico, llegó por primera vez a México.
</p>
<p>
X1Media platicó con ellos previo a su concierto donde de forma oficial, presentaron su más reciente álbum titulado Trinchera, inspiración de los músicos en tiempos de pandemia, después de un año de grabación, lanzaron esta compilación en edición especial, dos vinilos color rosa que únicamente está disponible en México.
</p>
<p>
    Nos hablaron de los inicios de su carrera y del rock, de cómo surgió el género ante la necesidad de una protesta política, para después consagrarse como un ritmo que no deja de existir, pues sigue traspasando generaciones hasta el día de hoy, los hijos de sus primeros fans, ahora son quienes llenan sus conciertos.
        </p>
        <P>
            Babasónicos cerrará su gira en Argentina y Paraguay donde la iniciaron el año pasado.
        </P>
        <p>
La Yeka Padilla desde los conciertos.
        </p>
    </section>
</div>
